.contenedor-de-carrito {
    text-align: center;
  }
  
  .carrito-contenedor {
    margin-top: auto;
    margin-bottom: auto;
    padding: 22px;
    color: white;
    font-size: 22px;
  }
  
  .carrito-contenedor img {
    height: 44px;
  }

/*==========EMPIEZA ADAPTACION RESPONSIVE========*/

@media (max-width: 960px) {
    #contenedor-columna {
      display: flex;
      justify-content: space-around;
      padding: 3px 2px;
    }
  }
  
  @media (max-width: 960px) {
    .carrito-contenedor {
      display: inline;
      position: relative;
      top: 15px;
      padding: 2%;
    }
  }
  